.za {
 
    text-align: center;
    font-size: 45px;
    size: 25px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 53, 53);
}

body {
    background-color: black;

    background-repeat: no-repeat;
    background-size: 120% 120%;
    background-attachment: fixed;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  input[type="user"],
  input[type="password"] {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: rgb(111, 110, 112);
    color: cornsilk;
  }
  button {
    width: 8.5%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #01ff09;
    color: rgb(255, 20, 20);
    font-size: 16px;
    cursor: pointer;
    
  }
